.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
  }
  
  .header-left, .header-right {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .header-right {
    justify-content: flex-end;
  }
  
  .logo {
    height: 40px;
  }

  .personicon {
    height: 22px;
  }
  
  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
  
  .header-right .icon-button {
    background: none;
    border: none;
    font-size: 24px;
    margin-left: 10px;
  }