.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 94%;
    background-color: #e5d7b0; /* Light mode background color */
    z-index: 1000; /* Ensures the header stays on top of other elements */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    .header {
        background-color: #212529; /* Example dark color */
        color: #ffffff; /* Optional: Change text color for better contrast */
    }
}
  
.header img {
    /* Default styles for images in the header */
    filter: none; /* No filter applied in light mode */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    .header img {
        filter: invert(1); /* Invert colors of images in the header in dark mode */
    }
}

  .header-left, .header-right {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .header-right {
    justify-content: flex-end;
  }
  
  .logo {
    height: 40px;
  }

  .personicon {
    height: 22px;
  }
  
  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
  
  .header-right .icon-button {
    background: none;
    border: none;
    font-size: 24px;
    margin-left: 10px;
  }