.loyalty-card {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.progress-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
}

.progress {
  height: 10px;
  background-color: #0d3dd7;
}

.card-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn-open {
  background-color: #fff;
  color: #0d3dd7;
  border: 1px solid #0d3dd7;
}

.btn-upgrade {
  background-color: #0d3dd7;
  color: #fff;
}
