.rewards-list {
  border-radius: 20px;
  text-align: left;
  margin: 10px;
}

.rewards-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 0px;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* WebKit browsers (Chrome, Safari) */
.rewards-container::-webkit-scrollbar {
  display: none;
}

.reward-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  min-width: 250px;
  height: 300px;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.reward-item:hover {
  /*transform: translateY(-5px);*/
}

.reward-content {
  color: white;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  position: relative;
  z-index: 2;
  max-height: 120px; /* Adjust this value as needed */
  box-sizing: border-box;
}

.reward-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  backdrop-filter: blur(5px) brightness(1);
  z-index: -1;
}

.reward-item span {
  display: block;
  margin-bottom: 5px;
}

.reward-item span:first-child {
  font-size: 1.2em;
  font-weight: bold;
}

.btn-claim {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 0px;
  font-weight: bold;
  transition: all 0.3s ease;
  font-family: system-ui, -apple-system-rounded, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  overflow: hidden;
}

.btn-claim::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

.btn-claim:active::after {
  animation: ripple 0.4s ease-out;
}

.btn-claim:hover {
  background-color: #333333; /* Darker shade on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.btn-claim:active {
  transform: scale(0.95);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}