/* TopIcon.css */
.spline-container {
    height: 230px; /* Adjust the height as needed */
    width: 100%; /* Ensure it takes the full width */
    display: flex;
    justify-content: center;
    align-items: center;
  }